html,
body {
    min-width: 320px;
}
body {
    line-height: 1;
    font-family: Poppins;
    background-color: white;
    color: #333333;

    .wrapper {
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .page {
            flex: 1 1 auto;
        }
    }
}
