footer {
    @include adaptiv-value("padding-top", 20, 10, 1);
    @include adaptiv-value("padding-bottom", 84, 30, 1);
    .footer {
        // .footer__conect

        &__conect {
            width: 100vw;
            color: white;
            background-color: #2c3878;
        }

        // .footer__info

        &__info {
            @include adaptiv-value("padding-top", 80, 20, 1);
        }
    }
    .footer-block-conect {
        display: flex;
        justify-content: space-between;
        @include adaptiv-value("padding-top", 40, 10, 1);
        @include adaptiv-value("padding-bottom", 40, 10, 1);
        // .footer-block-conect__tittle

        &__tittle {
            flex: 0 1 55%;
            font-weight: 600;
            text-align: left;
            @include adaptiv-value("font-size", 36, 15, 1);
            @include adaptiv-value("line-height", 61, 20, 1);
        }

        // .footer-block-conect__contact

        &__contact {
            flex: 0 1 31%;
        }
    }
    .footer-block-contact {
        // .footer-block-contact__tittle

        &__tittle {
            font-weight: 400;
            text-align: left;
            color: #d9d9d9;
            @include adaptiv-value("font-size", 18, 10, 1);
            @include adaptiv-value("line-height", 29, 10, 1);
            @include adaptiv-value("padding-bottom", 20, 10, 1);
        }

        // .footer-block-contact__button

        &__button {
            background-color: white;
            border: 0;
            text-transform: capitalize;
            transition-duration: 500ms;
            @include adaptiv-value("font-size", 18, 10, 1);
            @include adaptiv-value("padding-top", 14, 10, 1);
            @include adaptiv-value("padding-bottom", 14, 10, 1);
            @include adaptiv-value("padding-right", 32, 10, 1);
            @include adaptiv-value("padding-left", 32, 10, 1);
        }
        .footer-block-contact__button:hover {
            cursor: pointer;
            background-color: #5466ca;
            color: white;
            transition-duration: 500ms;
        }
    }
    .footer-block-info {
        display: flex;
        justify-content: space-between;
        // .footer-block-info__company

        &__company {
            flex: 0 1 45%;
        }

        // .footer-block-info__contact

        &__contact {
            flex: 0 1 31%;
        }
    }
    .footer-block-company {
        // .footer-block-company__logo

        &__logo {
            max-width: 100%;
            img {
                max-width: 100%;
            }
        }

        // .footer-block-company__tittle

        &__tittle {
            font-weight: 600;
            text-align: left;
            @include adaptiv-value("font-size", 36, 15, 1);
            @include adaptiv-value("line-height", 61, 20, 1);
        }
    }
    .footer-block-contact-info {
        // .footer-block-contact-info__tittle

        &__tittle {
            font-weight: 400;
            text-align: left;
            @include adaptiv-value("font-size", 18, 13, 1);
            @include adaptiv-value("line-height", 29, 20, 1);
        }

        // .footer-block-contact-info__social-networks

        &__social-networks {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 11px;
        }
    }
    .icon-Ellipse {
        @include adaptiv-value("font-size", 10, 7, 1);
    }
    .footer-form-block {
        display: flex;
        padding: 19px 0px 40px 0px;
        // .footer-form-block__input

        &__input {
            flex: 0 1 90%;
            border: 0;
            cursor: pointer;
            border-bottom: 0.5px solid black;
        }

        // .footer-form-block__arrow

        &__arrow {
            flex: 0 1 10%;
            border-bottom: 0.5px solid black;
            text-align: center;
            background-color: white;
        }

        // .footer-form-block__tittle

        &__tittle {
            align-self: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
        }
    }
    .icon-string {
        @include adaptiv-value("font-size", 15, 10, 1);
    }
    .block-social-networks-items {
        display: flex;
        gap: 30px;
    }
    .social-network {
        display: flex;
        padding: 6px;
        font-size: 24px;
        background-color: #d9d9d9;
        border-radius: 50%;
        transition-duration: 500ms;
    }
    .social-network:hover {
        color: white;
        cursor: pointer;
        background-color: #2c3878;
        transition-duration: 500ms;
    }
    @media screen and (max-width: 450px) {
        .footer-block-conect {
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
        .footer-block-info {
            flex-direction: column;
            gap: 10px;
        }
        .footer-block-company {
            text-align: center;
        }
        .footer-block-contact-info__social-networks {
            align-items: center;
        }
    }
}
*:focus {
    outline: none;
}