// ==========================
@import "_import";
// font-family
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap);
// ==========================

html,
body {
    min-width: 320px;
}
body {
    line-height: 1;
    font-family: Poppins;
    background-color: white;
    color: #333333;

    .wrapper {
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .page {
            flex: 1 1 auto;
            // section2
            .block-description-ditels {

                // .block-description-ditels__body

                &__body {
                    display: flex;
                    justify-content: space-between;
                    @include adaptiv-value("padding-top",80,20,1);
                    @include adaptiv-value("padding-bottom",40,10,1);
                }
            }
            .body-description-ditels {
                // .body-description-ditels__content

                &__content {
                    flex: 0 1 47%;
                }
            }
            @media screen and (max-width: 770px) {
                .body-description-ditels{
                    flex-direction: column-reverse;
                    gap: 20px;
                }
            }
            .content-ditels-block {
                display: flex;
                flex-direction: column;
                gap: 24px;

                // .content-ditels-block__tittle

                &__tittle {
                    font-weight: 600;
                    text-align: left;
                    @include adaptiv-value("font-size",24,14,1);
                    @include adaptiv-value("line-height",34,10,1);
                }

                // .content-ditels-block__sub-tittle

                &__sub-tittle {
                    font-weight: 400;
                    text-align: left;
                    color: #9c9c9c;
                    @include adaptiv-value("font-size",18,10,1);
                    @include adaptiv-value("line-height",29,15,1);
                }

                // .content-ditels-block__block

                &__block {
                    display: flex;
                    justify-content: space-between;
                    flex: 1 1 50%;
                    align-items: end;
                    font-weight: 400;
                    text-align: left;
                    color: #9c9c9c;
                    @include adaptiv-value("font-size",18,10,1);
                    @include adaptiv-value("line-height",29,10,1);
                }
            }
            // section3
            .portfolio-ditels-block {
                    // .portfolio-ditels__body
            
                    &__body {
                        @include adaptiv-value("padding-top",40,10,1);
                        @include adaptiv-value("padding-bottom",80,30,1);
                    }
            }
            .body-block-portfolio-ditels{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                @include adaptiv-value("gap",30,10,1);
                    // .body-block-portfolio__image
            
                    &__image {
                        max-width: 100%;
                    }
            }
            
        }
    }
}